@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "Genos";
  src: url("./fonts/font-style/Genos-VariableFont_wght.ttf");
  font-display: swap;
}
@layer utilities {
  .wrapper {
    @apply px-5 sm:px-14 xl:max-w-6xl 2xl:max-w-7xl mx-auto;
  }
  .btn {
    @apply border-straw bg-gradient-to-b from-straw via-primrose to-alpine border-[1px] font-bold tracking-wide shadow-lg h-8 rounded-lg py-1 px-7 uppercase;
  }
  .btn-play {
    @apply text-[3.5vw] sm:text-[2.3vw] lg:text-[1.8vw] xl:text-[1.4vw] 2xl:text-[1.2vw] font-semibold capitalize;
  }
  .btn-play2 {
    @apply text-[3.5vw] sm:text-[2.3vw] lg:text-[2.2vw] xl:text-[2vw] 2xl:text-[1.5vw] font-semibold capitalize;
  }
}
html {
  -webkit-tap-highlight-color: transparent;
}

body {
  @apply text-black bg-white relative mx-auto font-genos max-w-[120rem];
}

.inp {
  @apply bg-blackfores py-1 focus:outline-none h-6;
}

input {
  @apply h-8 w-full bg-black bg-opacity-50 px-2 py-2 focus:outline-none;
}

select {
  @apply h-8 w-full bg-black bg-opacity-50 px-2 py-2 focus:outline-none;
}

.desktop-menu li.active {
  @apply bg-christi text-lemon;
}
.desktop-menu li:hover {
  @apply bg-christi text-lemon ease-in-out duration-200;
}

.mobile-sidemenu.active {
  @apply left-0;
}

.overlaysd.active {
  @apply w-full opacity-100;
}

.mobile-bottom-menu ul li i {
  background: -webkit-gradient(linear, left top, left bottom, from(#d4bb77), color-stop(#f4eca8), to(#8a5700));
  background: linear-gradient(to bottom, #d4bb77, #f4eca8, #8a5700);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 30px;
  padding-top: 10px;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #cec06f;
}
.mobile-bottom-menu ul li .fa-circle-user {
  color: #2b2828;
  background: unset;
  -webkit-text-fill-color: unset;
  padding-top: 0px;
}
.mobile-bottom-menu li.active {
  @apply bg-blackfores text-lemon bg-opacity-50;
}

.overlaysd.active {
  @apply opacity-100 w-full;
}

.overlay.active {
  @apply opacity-100 visible;
}

.popup-login.active {
  @apply block;
}
.popup-login.active .popLog {
  @apply opacity-100 visible;
}

.popup-fp.active {
  @apply block;
}
.popup-fp.active .popfp {
  @apply opacity-100 visible;
}

.popup-ireg.active {
  @apply block;
}
.popup-ireg.active .popireg {
  @apply opacity-100 visible;
}

.download-menu ul li.active {
  @apply bg-christi text-lemon;
}

.download-content .dl-bb.active {
  @apply block;
}