@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Genos';
  src: url('./fonts/font-style/Genos-VariableFont_wght.ttf');
  font-display: swap;
}

@layer utilities {
  .wrapper {
    @apply mx-auto px-5 sm:px-14 xl:max-w-6xl 2xl:max-w-7xl;
  }

  .btn {
    @apply h-8 rounded-lg border-[1px] border-straw bg-gradient-to-b from-straw via-primrose to-alpine py-1 px-7 font-bold uppercase tracking-wide shadow-lg;
  }

  .btn-slvr {
    @apply h-8 rounded-lg border-[1px] border-slate-200 bg-gradient-to-b from-slate-300 via-slate-100 to-slate-600 py-1 font-bold tracking-wide shadow-lg;
  }

  .btn-play {
    @apply text-[3.5vw] font-semibold capitalize sm:text-[2.3vw] lg:text-[1.8vw] xl:text-[1.4vw] 2xl:text-[1.2vw];
  }

  .btn-play2 {
    @apply text-[3.5vw] font-semibold capitalize sm:text-[2.3vw] lg:text-[2.2vw] xl:text-[2vw] 2xl:text-[1.5vw];
  }
}

html {
  -webkit-tap-highlight-color: transparent;
}

body {
  @apply relative mx-auto max-w-[120rem] bg-white font-genos text-black;
}

.inp {
  @apply h-6 bg-blackfores py-1 focus:outline-none;
}

input {
  @apply h-8 w-full bg-black bg-opacity-50 px-2 py-2 focus:outline-none;
}

select {
  @apply h-8 w-full bg-black bg-opacity-50 px-2 py-2 focus:outline-none;
}

.g8-banner {
  img {
    @apply w-full;
  }
}

.desktop-menu {
  li.active {
    @apply bg-shadesMyrtle text-lemon;
  }
  li:hover {
    @apply bg-shadesMyrtle text-lemon duration-200 ease-in-out;
  }
}

.navAdmin {
  li.active {
    @apply h-8 rounded-lg border-[1px] border-straw bg-gradient-to-b from-straw via-primrose to-alpine py-1 px-7 font-bold uppercase tracking-wide shadow-lg;
  }
}

.mobile-sidemenu.active {
  @apply left-0;
}

.overlaysd.active {
  @apply w-full opacity-100;
}

.mobile-bottom-menu {
  ul li i {
    background: linear-gradient(to bottom, #d4bb77, #f4eca8, #8a5700);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 30px;
    padding-top: 10px;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #cec06f;
  }

  ul li .fa-circle-user {
    color: #2b2828;
    background: unset;
    -webkit-text-fill-color: unset;
    padding-top: 0px;
  }

  li.active {
    @apply bg-blackfores bg-opacity-50 text-lemon;
  }
}

.overlaysd.active {
  @apply w-full opacity-100;
}

.overlay.active {
  @apply visible opacity-100;
}

.popup-login.active {
  @apply block;
  .popLog {
    @apply visible opacity-100;
  }
}

.popup-fp.active {
  @apply block;
  .popfp {
    @apply visible opacity-100;
  }
}

.popup-ireg.active {
  @apply block;
  .popireg {
    @apply visible opacity-100;
  }
}

.download-menu {
  ul {
    li.active {
      @apply bg-christi text-lemon;
    }
  }
}

.download-content {
  .dl-bb.active {
    @apply block;
  }
}

.promotab {
  li {
    .ptb.active {
      @apply bg-lemon text-black;
    }
  }
}

.info {
  li.active {
    @apply bg-christi text-lemon;
  }
}

@import 'dropdown';
