@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "harmattan";
    src: url("./fonts/font-style/harmattan-regular.ttf");
}

@layer utilities {
    .wrapper {
        @apply px-3  sm:px-10 2xl:max-w-7xl mx-auto;
    }
}

body {
    @apply text-white bg-white relative mx-auto font-harmattan;
    max-width: 120rem;
}

.desktop-menu ul {
    li:hover {
        background-image: linear-gradient(rgba(255, 0, 0, 0), #842aff);
    }
    li.active {
        background-image: linear-gradient(rgba(255, 0, 0, 0), #842aff);
    }
    li::before {
        content: "";
        position: absolute;
        display: block;
        width: 100%;
        height: 4px;
        bottom: 0;
    }

    li.active::before {
        background: #fee515;
        transition: 200ms ease-in-out;
    }
}

.g8-banner {
    img {
        width: 100%;
    }
}

.lottery {
    .swiper-slide {
        height: calc((100% - 30px) / 2);
    }

    .market {
        background-color: white;
        background-image: linear-gradient(to right, #5e18be 60%, transparent 40%);
        box-shadow: 2px 2px #acacac;
    }

    .swiper-scrollbar-drag {
        @apply bg-purple;
    }
}

.lottery-d {
    .market {
        background-color: white;
        background-image: linear-gradient(to right, #5e18be 60%, transparent 40%);
        box-shadow: 2px 2px #acacac;
    }

    .swiper-scrollbar-drag {
        @apply bg-purple;
    }
}

.hot-games {
    .swiper-button-next,
    .swiper-button-prev {
        @apply rounded-full text-black bg-white h-5 w-5 m-auto -translate-y-1/2;
    }

    .swiper-button-next:after,
    .swiper-button-prev:after {
        @apply text-[10px];
    }
}

.mobile-bottom-menu ul {
    li:hover {
        background-image: linear-gradient(rgba(255, 0, 0, 0), #842aff);
    }
    li.active {
        background-image: linear-gradient(rgba(255, 0, 0, 0), #842aff);
    }
    li::before {
        content: "";
        position: absolute;
        display: block;
        width: 100%;
        height: 3px;
        bottom: 0;
    }

    li.active::before {
        background: #fee515;
        transition: 200ms ease-in-out;
    }
}

.overlaysd.active {
    @apply opacity-100 w-full;
}

.overlay.active {
    @apply opacity-100 visible;
}

.popup-login.active {
    @apply block;
    .popLog {
        @apply opacity-100 visible;
    }
}

.popup-fp.active {
    @apply block;
    .popfp {
        @apply opacity-100 visible;
    }
}

.mobile-sidemenu.active {
    @apply right-0;
}

.mobile-sidemenu {
    ul {
        li.active {
            @apply bg-blueViolet;
        }
    }
}

.socmed-wrapper {
    ul {
        li {
            @apply w-1/6;
            i {
                @apply text-3xl;
            }
        }
    }
}

.info {
    ul {
        li.active {
            @apply bg-dandelion text-slate-100;
        }
    }
}

.download-menu {
    ul {
        li.active {
            @apply bg-purple;
        }
    }
}

.download-content {
    .dl-bb.active {
        @apply block;
    }
}

.acc-menu .active {
    @apply bg-dandelion;
}

.dropdown-balance {
    // background: #5e18be;
    border-radius: 4px;
    min-width: 200px;
    padding: 5px 0 6px;
    position: absolute;
    top: 20px;
    right: 0;
    z-index: 9999;
    display: none;
    padding-top: 20px;
}
.balance .dropdown-balance::before,
.balance .dropdown::before {
    content: "";
    border-right: 10px solid transparent;
    border-bottom: 10px solid #5e18be;
    border-left: 10px solid transparent;
    position: absolute;
    top: 10px;
    right: 3px;
}
.balance .dropdown ul,
.balance .dropdown-balance ul {
    display: flex;
    flex-direction: column;
}
.balance .dropdown ul li,
.balance .dropdown-balance ul li {
    padding: 0;
}
.balance .dropdown ul li a,
.balance .dropdown-balance ul li a {
    background: #e6e5e5;
    border-top: 1px solid #898989;
    box-shadow: 0 1px 0 0 rgba(10, 10, 10, 0.42), 0 1px 0 0 #fff inset;
    color: #301d6e;
    padding: 10px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    width: 100%;
    display: flex;
}
.balance .dropdown ul li a i,
.balance .dropdown-balance ul li a i {
    font-size: 16px;
    flex: 1;
    text-align: center;
}
.balance .dropdown ul li a span,
.balance .dropdown-balance ul li a span {
    color: #301d6e;
    flex: 4;
}
.balance .dropdown ul li a:hover,
.balance .dropdown-balance ul li a:hover {
    background: #e3a43b;
    border-color: transparent;
    box-shadow: none;
    color: #301d6e;
}
.balance .dropdown-balance {
    min-width: 250px;
    font-weight: 300;
}
.balance .dropdown-balance ul li {
    background: #e6e5e5;
    border-top: 1px solid #898989;
    box-shadow: 0 1px 0 0 rgba(10, 10, 10, 0.42), 0 1px 0 0 #fff inset;
    color: #301d6e;
    padding: 10px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    display: flex;
    align-items: flex-start;
}
.balance .dropdown-balance ul li .left {
    flex: 2;
}
.balance .dropdown-balance ul li .right {
    flex: 1;
}
.balance .dropdown-balance ul li:first-child {
    background: #5e18be;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-top: unset;
    box-shadow: unset;
}
.balance .dropdown-balance ul li:first-child .left,
.balance .dropdown-balance ul li:first-child .right {
    flex: auto;
}
.balance .dropdown-balance ul li:first-child .left strong,
.balance .dropdown-balance ul li:first-child .right strong {
    font-size: 16px;
}
.balance .dropdown-balance ul li:first-child .left span,
.balance .dropdown-balance ul li:first-child .right span {
    color: #fff;
}
.balance .dropdown-balance ul li:first-child .right {
    text-align: right;
}
.balance:hover .dropdown,
.balance:hover .dropdown-balance {
    display: block;
}
.g8-bal {
    text-align: right;
    color: #301d6e;
    .bbl {
        border-bottom: 1px solid #898989;
        position: relative;
        background-color: #e6e5e5;
        box-shadow: 0 1px 0 0 rgba(10, 10, 10, 0.42), 0 1px 0 0 #fff inset;
        text-align: right;
        position: relative;
        padding: 0 8px;
        line-height: 24px;
    }
    .bbl p {
        float: left;
        margin: 0;
        font-size: 12px;
        line-height: 22px;
    }
    .bbl span {
        padding: 0px 5px;
        font-size: 12px;
        margin: 0px;
    }
    .bbl a {
        color: #301d6e;
    }
    .bbl a:hover {
        color: #111111;
    }

    .bbl-0 {
        background-color: #5e18be;
        color: #ffffff;
        padding: 10px;
        text-align: left;
        box-shadow: unset;
    }
    .bbl-0 p {
        float: none;
        font-size: 14px;
    }
    .bbl-0 span {
        float: none;
        font-size: 14px;
        padding: 0px;
    }
    .bbl-0 a {
        color: #ffffff;
    }
    .bbl-0 .b1,
    .bbl-0 .b2 {
        position: absolute;
        top: 10px;
        right: 0px;
    }
    .bbl-0 .b1 {
        right: 10px;
        font-size: 10px;
        text-transform: uppercase;
        background-color: #171342;
        padding: 5px 8px;
        font-weight: bold;
    }
    .bbl-0 .b2 {
        right: 30px;
    }
    .bbl-0 .b1:hover {
        background-color: #111111;
        color: #ffffff;
    }

    .bbloverlap {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        background-image: url(/common/images/preloader.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: auto 40px;
    }
}

.wallet {
    .bbl {
        @apply p-2 relative bg-slate-300 border-2 border-black rounded-md hover:border-purple;

        p {
            @apply text-blueViolet font-bold;
        }

        .bbloverlap {
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.7);
            background-image: url(/common/images/preloader.svg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: auto 40px;
        }
    }

    .bbl:first-child {
        .bbl-wrapper {
            @apply space-x-2;
        }

        a.b1 {
            .btn-process {
                @apply px-3 bg-blueViolet text-white;
            }
        }
    }

    .bbl-wrapper {
        @apply flex items-center justify-center;
    }
}

.promotionInfo {
    .promotab {
        li {
            a.active {
                @apply bg-dandelion;
            }
        }
    }

    .ptballbox {
        .panel-content {
            .panel-body {
                div {
                    @apply font-bold text-purple;
                }

                ol {
                    @apply list-decimal pl-5 text-black font-normal;
                }
            }
        }
    }
}
