<section class="navAdmin mt-5">
  <ul class="wrapper acc-menu flex items-center justify-between space-x-2 overflow-x-auto text-center uppercase">
    <li class="btn-slvr flex w-full items-center px-2">
      <a href="ADMIN__deposit.html" class="block w-full py-1"><span>deposit</span></a>
    </li>
    <li class="btn-slvr flex w-full items-center px-2">
      <a href="ADMIN__withdrawal.html" class="block w-full py-1"><span>withdraw</span></a>
    </li>
    <li class="btn-slvr flex w-full items-center px-2">
      <a href="ADMIN__transfer.html" class="block w-full py-1"><span>transfer</span></a>
    </li>
    <li class="btn-slvr flex w-full items-center px-2">
      <a href="ADMIN__history.html" class="block w-full py-1"><span>history</span></a>
    </li>
    <li class="btn-slvr flex w-full items-center px-2">
      <a href="ADMIN__wallet.html" class="block w-full py-1"><span>wallet</span></a>
    </li>
    <li class="btn-slvr flex w-full items-center px-2">
      <a href="ADMIN__profile.html" class="block w-full py-1"><span>profile</span></a>
    </li>
    <li class="btn-slvr flex w-full items-center px-2">
      <a href="ADMIN__referral.html" class="block w-full py-1"><span>referral</span></a>
    </li>
    <li class="btn-slvr flex w-full items-center px-2">
      <a href="ADMIN__bonus.html" class="block w-full truncate py-1"><span>bonus code</span></a>
    </li>
    <li class="btn-slvr flex w-full items-center px-2">
      <a href="ADMIN__messages.html" class="block w-full py-1"><span>messages</span></a>
    </li>
  </ul>
</section>
